html {
    height: 100vh;
    width: 100vw;
}

body {
   margin: 0px ;
   padding: 0px ;
   color: #222222;
   font-family: Helvetica;
   font-size: 13px ;
  }

 .rect {
   fill: #222;
 }

 div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 33px;
  padding: 8px;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
 }

 .container {
  float: left;
  background: white;
  margin: 0px;
  height: 85vh;
  font-size: 50px ;
 }

 .sidebar {
  float: right;
  background: white;
  margin: 0px;
  height: 85vh;
  width: 400px;
  font-size: 50px ;
 }

 .footer {
  float: bottom;
  background: white;
  margin: 15px;
  height: 20vh;
  width: 100hw;
  font-size: 50px ;
 }

#chooser-buttons {
  margin: 100px;
}


#chooser-buttons .btn {
  width: 150px;
  height: 150px;
  font-size: 1.6em;
}

#loading {
  margin: 30px;
}

.pbutton {
  fill:green;
  stroke:black;
  stroke-width:5;
  opacity:0.7
}

.fbutton {
  fill:none;
  stroke:black;
  stroke-width:5;
  opacity:.7
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}