html {
    height: 100vh;
    width: 100vw;
    -webkit-text-size-adjust: none
}

body {
   margin: 0px ;
   padding: 0px ;
   color: #222222;
   font-family: Helvetica;
   font-size: 13px ;
  }

 .rect {
   fill: #222;
 }

 div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 33px;
  padding: 8px;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
 }

 .stimuli {
  float: left;
  width: 55%;
  background: white;
  margin: 0px;
  height: 100vh;
  font-size: 40px ;
 }

 .controls {
  display: inline-block; 
  width: 25%;
  height: 100vh;
 }
 
.container {
  margin-left: 5px;
  margin-top: 5px;
}

 .sidebar {
  float: right;
  background: white;
  margin: 0px;
  height: 100vh;
  width: 20%;
  font-size: 40px ;
 }

#chooser-buttons .btn {
  margin: 50px;
  width: 160px;
  height: 160px;
  font-size: 2.0em;
}

#loading {
  margin: 30px;
}

.pbutton {
  fill:green;
  stroke:black;
  stroke-width:5;
  opacity:0.7
}

.fbutton {
  fill:none;
  stroke:black;
  stroke-width:5;
  opacity:.7
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}