  <!-- basic layout for experiment -->
            <div id="container-exp">
                <div id="chooser-buttons">
                    <!--<button id=choose-setup class="btn btn-info btn-large">Setup</button>-->
                    <button id=choose-train class="btn btn-primary btn-large">Train</button>
                    <button id=choose-main class="btn btn-success btn-large">Main</button>
                    <!--<button id=choose-finish class="btn btn-danger btn-large">Finish</button>-->
                </div>
            </div>
