  <!-- basic layout for experiment -->
            <div id="container-exp">
                <div id="chooser-buttons">
                    <!--<button id=choose-setup class="btn btn-info btn-large">Setup</button>-->
                    <button id=choose-fam class="btn btn-primary btn-large">Fam</button>
                    <button id=choose-study class="btn btn-success btn-large">Study</button>
                    <button id=choose-test class="btn btn-warning btn-large">Test</button>
                    <!--<button id=choose-finish class="btn btn-danger btn-large">Finish</button>-->
                </div>
            </div>
