  <!-- basic layout for experiment -->
            <div id="container-exp">
            	<!-- <input> onClick=assignSubject -->
                <div id="chooser-buttons">
                    <button id=choose-pretrain class="btn btn-info btn-large">Pretrain</button>
                    <button id=choose-train class="btn btn-primary btn-large">Train</button>
                    <button id=choose-main class="btn btn-success btn-large">Main</button>
                    <button id=choose-done class="btn btn-danger btn-large">Done</button>
                </div>
            </div>
