<!doctype html>

<html>
	<head>
		<title>Psychology Experiment</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="/static/images/university.png" alt="Lab Logo" />
					</div>
					<div class="col-xs-10">
						<h1>Welcome to psiTurk!</h1>
						<hr>
					    <div class="alert alert-warning">
					    	<a href="/exp?hitId=s1&assignmentId=s1&workerId=s1&mode=debug">Subject 1 - </a><br />
					    	<a href="/exp?hitId=s2&assignmentId=s2&workerId=s2&mode=debug">Subject 2 - </a><br />
					    	<a href="/exp?hitId=s3&assignmentId=s3&workerId=s3&mode=debug">Subject 3 - </a><br />
					    	<a href="/exp?hitId=s4&assignmentId=s4&workerId=s4&mode=debug">Subject 4 - </a><br />
					    	<a href="/exp?hitId=s5&assignmentId=s5&workerId=s5&mode=debug">Subject 5 - </a><br />
					    	<a href="/exp?hitId=s6&assignmentId=s6&workerId=s6&mode=debug">Subject 6 - </a><br />
					    	<a href="/exp?hitId=s7&assignmentId=s7&workerId=s7&mode=debug">Subject 7 - </a><br />
					    	<a href="/exp?hitId=s8&assignmentId=s8&workerId=s8&mode=debug">Subject 8 - </a><br />
					    </div>
					</div>
			</div>
		</div>
	</body>
</html>