<!doctype html>

<html>
	<head>
		<title>Psychology Experiment</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">

		<script type="text/javascript">

			function processSetup(form) {
			  subject_num = form.subject.value;
			  mycond = form.condition.value;
			  myage = form.age.value;
			  //output(['subject='+subject_num, 'age='+myage, 'condition='+mycond]);
			  //console.log(subject_num+" "+myage+" "+mycond);
			  window.location = '/exp?hitId='+subject_num+'&assignmentId='+subject_num+'&workerId='+subject_num+'&age='+myage+'&condition='+mycond+'&mode=debug';
			}
		</script>
	</head>
	<body onload="window.resizeTo(1024,768)">
		<div class="container">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="/static/images/university.png" alt="Lab Logo" />
					</div>
					<div class="col-xs-10">
						<h1>Welcome to Bug Guess!</h1>
						<hr>
					    <div class="alert alert-warning">
					    	<!-- <input> onClick=assignSubject -->
			            	<form id="subjectInfo" action="#">
								Subject: 
								<input type="text" name="subject" maxlength="4" size="4">
								<br /><br />
								Age: 
								<input type="text" name="age" maxlength="2" size="2">
								<br /><br />
								Condition:<br />
								<input type="radio" name="condition" value="automatic" checked> Automatic
								<br />
								<input type="radio" name="condition" value="manual"> Manual
								<br /><br />
								<input type="button" name="submit" value="Okay" onclick="processSetup(this.form);">
								<br />
							</form>

					    </div>
					</div>
			</div>
		</div>
	</body>
</html>