            <!-- basic layout for experiment -->
            <div id="container-exp">
                <div id="stagewrapper">
                    <div id="aboveStage">
                    </div>
                    <div id="stage">
                        <svg width="1000" height="600" id="stagesvg"></svg>
                    </div>
                    <div id="belowStage">
                        <div id="instruction"></div>
                        <div id="buttons"></div>
                    </div>
                </div>
            </div>
